{% extends 'unimagem/base.html' %}
{% load static %}
{% block content %}
<meta name="csrf_token" content="{{ csrf_token }}">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <form class="form-horizontal" action="{% url 'exameRealizado' paciente.id  %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title">Realizar Exame - {{ paciente.nome }}</h4>
                    <div class="form-group row">
                        <label for="id_exame"
                            class="col-sm-3 text-end control-label col-form-label">Exame</label>
                        <div class="col-sm-9">
                            {{ form.exame }}

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_medico" class="col-sm-3 text-end control-label col-form-label">Médico</label>
                        <div class="col-sm-9">
                            {{ form.medico }}
                        </div>
                    </div>
                    



                </div>
                <div class="border-top">
                    <div class="card-body">
                        <input type="submit" class="btn btn-primary" value='Criar' > 
                    </div>
                </div>
            </form>
        </div>


                    {% endblock %}