
{% extends 'unimagem/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="{% url 'relatoriosData' %}">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="fas fa-chart-line"></i></h1>
                <h6 class="text-white">Exames Realizados x Data</h6>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="{% url 'relatoriosDataCSV' %}">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="fas fa-chart-line"></i></h1>
                <h6 class="text-white"> CSV Exames Realizados x Data</h6>
            </div>
        </div>
        </a>
    </div>

    

    <div class="col-md-6 col-lg-2 col-xlg-3">
        <a href="{% url 'relatoriosDataMedico' %}">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="fas fa-chart-line"></i></h1>
                <h6 class="text-white">Por Médcios X Data</h6>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="fas fa-chart-line"></i></h1>
                <h6 class="text-white">Tipo Exame x Data</h6>
            </div>
        </div>
    </div>
    
    <!-- Column -->
    
<meta name="csrf_token" content="{{ csrf_token }}">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <form class="form-horizontal" action="{% url 'relatoriosData'  %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title">Relatório por data</h4>
                    <div class="form-group row">
                        <label for="id_dataIni"
                            class="col-sm-3 text-end control-label col-form-label">Data Inicial</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control"  required id="id_dataIni" name="dataIni"
                                placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_dataFin"
                            class="col-sm-3 text-end control-label col-form-label">Data Final</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control"  required id="id_dataFin" name="dataFin"
                                placeholder="">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <input type="submit" class="btn btn-primary" value='Gerar' > </div>
                    </div>
                </div>
            </form>
        </div>

    <!-- Column -->
</div>

{% endblock %}